doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900")
    link(rel="stylesheet" href='/style.css')
  body
    header
      img.logo(src='https://upload.wikimedia.org/wikipedia/fr/7/72/Burger_Quiz.png')

    div.container
      if users.length == 0
        h2.js-active=`Aucun joueur `
      else if users.length == 1
        h2.js-active=`1 joueur`
      else if users.length > 1
        h2.js-active=`${users.length} joueurs`
      table(style='width:100%', border='1')
          tr
            th.mayo Mayo
            th.ketchup Ketchup
          tr
            td.mayo.usersInMayo
            td.ketchup.usersInKetchup
      button.js-clear='Réinitialiser les buzzers'
    ol.js-buzzes
      each buzz in buzzes
        li.buzzli=`${buzz.name} de la team ${buzz.team}`
    script(src='/socket.io/socket.io.js')
    script(src='/host.js')
